/*********************************************************************/
/*Autor: Idelina Ponte                                               */
/*Objetivo del archivo: Cabecera de la Página                        */
/*********************************************************************/
<div>
  <table>
  	<tr>
     <td align="center"> <img ng-src="{{urlLogo}}" width="90" height="90" /></td>
     <td align="center"><h1> Pel&iacute;culas GFI</h1></td>
  	</tr>
  </table>
</div>