/*********************************************************************/
/*Autor: Idelina Ponte                                               */
/*Objetivo del archivo: vista del usuario. Mostrar las películas     */
/*guardadas en el archivo json                                       */
/*********************************************************************/
<!DOCTYPE html>
<html ng-app="app">
<head>
 <!-- 
      <link rel="stylesheet" href="/www/gfi_idelina_def/bootstrap-3.3.7_dist/css/bootstrap.min.css">
      <script type="text/javascript" src="/www/gfi_idelina_def/bootstrap-3.3.7_dist/js/bootstrap.min.js"></script>
      <script src="/www/gfi_idelina_def/js/jquery.min.js"></script>
  -->
  <script src="/www/gfi_idelina_def/angular/angular-1.4.14/angular.min.js""></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   <link href="favicon.jpg" rel="icon">
  <script src="script.js"></script>
</head>

<body ng-controller="ListadoPeliculasController">
    <br>
    <div class="container">
        <ng-include src="'cabecera.html'"></ng-include>
        <br>
        <form novalidate class="css-form" name="formulario" id="formulario">
         <table align="center">
           <tr>
              <td>
                  <strong> Buscar: </strong>
                  <input ng-model="filtro.title" size="40"  placeholder="Indique parte del t&iacute;tulo a buscar">
              </td>
          </tr>
        </table>
        <br>
        <table align="left" width=" 400">
           <tr> 
              <td align="center"> 
                   <input data-toggle="tooltip" title="Seleccione a sus pel&iacute;culas favoritas" class="btn btn-primary btn-xs" 
                          type = "button" id="favoritos" name="favoritos" value="Guardar Favoritos" ng-click = "GetValue ()"  />
              </td>
              <td align="center"> 
                    <input class="btn btn-primary btn-xs" type = "button" id="cancelar" name="cancelar" value="Cancelar" ng-click = "Cancelar ()"  />
              </td>
              <td align="right">
                     <label>Usuario Activo: </label> 
                     <label id="dusuario"></label>
              </td>
           </tr>
         </table>
        <br>
       <table class="table table-condensed table-hover table-striped">
          <thead>
            <tr>
              <th>Favoritas</th>
              <th>C&oacute;digo</th>
              <th>T&iacute;tulo</th>
              <th>A&nacute;o</th>
              <th>Pa&iacute;s</th>
              <th>G&eacute;nero</th>        
              <th>P&oacute;ster</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pelicula in peliculas| filtro:{Title:filtro.title}">
              <td align="center"> 
                <label for ="chkPelicula_{{pelicula.imdbID}}">
                <input id="chkPelicula_{{pelicula.imdbID}}" name="chkPelicula_{{pelicula.imdbID}}" value={{pelicula.imdbID}} type="checkbox"  ng-model="pelicula.selected"/>
              </label>
                 </td>
              <td>{{pelicula.imdbID}}</td>
              <td>{{pelicula.Title}}</td>
              <td>{{pelicula.Country}}</td>
              <td>{{pelicula.Year}}</td>
              <td>{{pelicula.Genre}}</td>
              <td><img ng-src="{{pelicula.Poster}}" width="90" height="120" class='img-circle red-tooltip' data-toggle='tooltip' data-placement='top' alt='{{pelicula.Title}}' title='{{pelicula.Title}}'/></td>        
            </tr>
          </tbody>
     </table>
     <ng-include src="'pie.html'"></ng-include>
  </form>
 <!--  <script src="/www/gfi_idelina_def/js/jquery-1.11.1.min.js"></script> -->
 <script>
   // Tomar el valor de sessionStorage y localStorage:
      $("#dusuario").text(sessionStorage.usuario);
 </script>
</body>
</html>