/*************************************************************** ***/
/*Autor: Idelina Ponte                                             */
/*Objetivo del archivo: Pie de la Página                           */
/******************************************************************/
<div> <br> <br>     &copy; GFI . Derechos Reservados</div>
